body {
    background: #fafafa;
    font-family: 'Source Sans Pro', sans-serif;
}

.title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.subtitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.container {
    padding: 20px 10px;
}

ul {
    list-style: none;
    padding-left: 0px;
}

li i.list-item-icon {
    padding-right: 10px;
}

.row.extra-space {
    padding-top: 25px;
    padding-bottom: 25px;
}

.row.small-space {
    padding-top: 15px;
    padding-bottom: 15px;
}

.code-sample {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px 15px;
}

.promo {
    font-family: 'Roboto Mono', sans-serif;
}
